# EVE ESI Configuration
EVE_ESI_BASE_URL=https://ali-esi.evepc.163.com/latest
EVE_ESI_DATASOURCE=infinity
EVE_ESI_TOKEN=

# SSO OAuth2 credentials
EVE_SSO_CLIENT_ID=bc90aa496a404724a93f41b4f4e97761
EVE_SSO_AUTH_URL=https://login-infinity.evepc.163.com/v2/oauth/authorize
EVE_SSO_TOKEN_URL=https://login-infinity.evepc.163.com/v2/oauth/token
EVE_SSO_CALLBACK_URL=https://ali-esi.evepc.163.com/ui/oauth2-redirect.html
EVE_SSO_DEVICE_ID=fleet-tracker
EVE_SSO_REALM=ESI
EVE_SSO_SCOPES=esi-search.search_structures.v1 esi-universe.read_structures.v1